* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.title {
  text-align: center;
  margin-top: 16px;
}

.description {
  font-size: 20px;
  margin-top: 16px;
}

nav {
  background-color: #fece7a;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}

nav a:hover {
  transform: scale(1.2);
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.container p {
  font-size: 24px;
  width: 120px;
  font-weight: bold;
  margin-right: 32px;
}

.container img {
  margin-right: 16px;
}

.image-home {
  width: 200px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-home:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.image {
  margin-top: 16px;
}

footer {
  background-color: #fece7a;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}

footer a:hover {
  transform: scale(1.2);
}
