* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 12px 0;
}

.text {
  margin-bottom: 16px;
  font-size: 18px;
}

nav {
  background-image: linear-gradient(135deg, rgb(61, 171, 173), rgb(160, 104, 200));
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.characters {
  display: flex;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character figcaption {
  opacity: 0;
  margin-top: 48px;
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.character figcaption.show-caption {
  opacity: 1;
}

.characters img {
  width: initial;
  height: 200px;
  margin: 32px 16px 0;
  transition: transform 0.3s ease-in-out;
}

.characters img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

footer {
  background-image: linear-gradient(315deg, rgb(61, 171, 173), rgb(160, 104, 200));
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
