footer {
  background-color: rgb(140, 82, 255);
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}

footer a:hover {
  transform: scale(1.2);
}