.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 8px;
}

.form-container input,
.form-container button {
  margin: 8px 0;
  padding: 12px;
  border-radius: 200px;
  border: solid 1px black;
}

.form-container label,
.form-container button {
  font-size: 20px;
}

.form-container button {
  align-self: center;
  width: 200px;
  padding: 12px;
  color: white;
  background-color: rgb(140, 82, 255);
  transition: filter 0.3s ease;
}

.form-container button:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.form-container .link {
  text-decoration: none;
  font-size: 20px;
  color: rgb(140, 82, 255);
}

.form-container .link:hover {
  cursor: pointer;
  text-decoration: underline;
}